div {
    color: red;
    background: #000
}

.birumuda {
    color: blue;
        background:  	#48c3e7;

 }
.birugelap { 

    background: #33477c;
}
.container2 {
    padding-top: 50px;
    padding-bottom: 150px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 150px;
    margin-left: 150px;
    background:  	#f0ffc2;
}

.container3 {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-right: 150px;
    margin-left: 150px;
    background:  	#33477c;
}